<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581080373754-5a635qmm4sdih9v6eeac0l9fp1kd0hmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581080373754-5a635qmm4sdih9v6eeac0l9fp1kd0hmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581080373754-f3iu5qngv3d3h9e8b62h6has7fmtumbj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6C2z0UYTc9Iv0NtLp50ssB5RRsnY9JPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>581080373754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geographyGeyser</string>
	<key>PROJECT_ID</key>
	<string>geography-geyser-app-cc7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>geography-geyser-app-cc7f8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581080373754:ios:5983da67d6ac98d4166c43</string>
</dict>
</plist>